

<div>
  <h1><%=@article.title %></h1>
</div>

<div>
  <h4>
    <%=@article.rayContent %>
  </h4>
</div>

<div class="margin-top">
  <p class="label">
    Categories
  </p>
  <% @article.categories.each do |category|%>
  <span class="badge badge-pill padding" style="background-color: <%=category.color %>">
    <%= link_to category.title, category, class: "text-white" %>
  </span>
  <% end %>
</div>

<div>
  <%=link_to "Eliminar articulo",@article, method: :delete %>
</div>